html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f1622;
}

ol a {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

nav ol li {
  list-style-type: none;
}

.greek {
  list-style-type: lower-greek;
}

figcaption {
  font-style: italic;
}

p {
  font-family: "PT Serif", serif;
}

blockquote {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: normal;
}

footer {
  font-family: "PT Serif", serif;
  font-size: .8rem;
}

aside ul {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  list-style-type: circle;
}

dt {
  font-family: "PT Serif", serif;
  font-style: normal;
}

footer a {
  font-family: "PT Serif", serif;
  text-decoration: none;
  color: #8f2440;
}

.serving {
  line-height: 1.5;
  font-style: italic;
}

.bold {
  font-family: "PT Serif", serif;
  font-weight: bold;
}
