html {
  background-color: #c9b5ab;
}

h1, h2, h3, h4 {
  font-family: "PT Sans",sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f1622
}

nav a{
  font-family: "PT Sans",sans-serif;
  font-size: 1.125rem;
  font-weight: "bold";
  color: #8f2440;
}
